@model WeatherWebApp.Models.WeatherInformation

@{
    ViewData["Title"] = "Weather Web App";
}

<html>
<body>

    <div class="mainWindow">

        <div class="inputCity">
            <form method="post" asp-controller="Home" asp-action="Search">
                <input type="text" id="cityName" name="cityName" placeholder="Enter Your Location">
                <button type="submit" id="SearchButton" OnClick="SearchButton_Click">
                    <img src="https://img.icons8.com/stickers/256/search.png" width="30" height="30" />
                    </button>
            </form>
        </div>
        @if (Model != null)
        {
            <div class="weatherBox">
                <img src="@Model.icon">
                <p class="temperature">@Model.temp °C</p>
                <p class="description">@Model.description</p>
            </div>

            <div class="weatherDetails">
                <div class="humidity">
                    <span></span>
                    <img src="https://img.icons8.com/color/256/moisture.png" width="30" height="30" />
                    Humidity @Model.humidity %
                </div>
                <div class="wind">
                    <span></span>
                    <img src="https://img.icons8.com/color/256/wind.png" width="30" height="30" />
                    Wind Speed @Model.speed m/s
                </div>
            </div>
        }
        else
        {
            <div class="weatherBox">
                <img src="https://img.icons8.com/color/256/partly-cloudy-rain.png">
                <p class="temperature">20°C</p>
                <p class="description">Clouds</p>
            </div>

            <div class="weatherDetails">
                <div class="humidity">
                    <span></span>
                    <img src="https://img.icons8.com/color/256/moisture.png" width="30" height="30" />
                    Humidity %
                </div>
                <div class="wind">
                    <span></span>
                    <img src="https://img.icons8.com/color/256/wind.png" width="30" height="30" />
                    Wind Speed m/s
                </div>
            </div>
        }

    </div>

</body>
</html>